nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -.9rem;
    box-shadow: 4px 4px 8px gray;
    z-index: 2;
}

nav > svg {
    height: 4rem;
    width: auto;
}
