.pokemon-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 10px;
    /* max-width: 1200px; */
    /* margin-top: 80px; */
    margin: 80px 0px auto;
    
  }
  
  .pokemon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: lightblue;
    padding: 5px 0;
  }
  
  .pokemon-img {
    width: 150px;
    height: 150px;
    margin: 5px 0;
  }
  
  .pokemon-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #454A54;
    color: #eee;
    font-weight: 600;
    text-transform: capitalize;
    padding: 4px 8px;
    border-radius: 10px;
    width: 50%;
  }